.navbar-title {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    & > header {
        background-color: #212121 !important;
        justify-content: center;
        & > div {
            // max-width: 1080px;
            justify-content: space-between;
        }
    }
}
.header-space {
    flex-grow: 1;
}
.navbar-right {
    margin-right: 0px;
}