.top-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(27, 28, 29, .9);
    color: #fff;
    z-index: 999;
    line-height: 40px;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}
.top-header > .container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 10px;
    border-bottom: none !important;
}
.site-name,
.comment-form p {
    float: left;
}
.site-choice {
    float: right;
}

/* 样式覆盖 */
.navbar-default {
    background-color: rgba(255,255,255,.95) !important;
    border: none !important;
    margin-bottom: 0px !important;
}