.content-container {
    max-width: 1080px;
    min-height: 450px;
    margin: 0 auto !important;
    margin-top: 90px !important;
    border: none !important;
    box-shadow: none !important;
    overflow: auto;
}
.content-brief {
    padding: 20px 30px;
    border: none !important;
}
.content-brief,
.article-info {
    border: none !important;
}
.article-info {
    width: 300px;
    float: right;
}
.content-brief {
    overflow: auto;
}

ul, li, body, html {
    padding: 0;
    margin: 0;
}
body, html {
    height: auto !important;
}
a {
    text-decoration: none !important;
    color: #000 !important;
}
.hide {
    display: none;
}
.text-center {
    text-align: center;
}