.article-title {
    text-align: center;
}
.article-meta {
    text-align: center;
    font-size: 14px;
    margin: 10px;
    color: rgba(0,0,0,.4);
}
.article-content {
    padding: 15px;
}
.article-foot {
    text-align: center;
    margin: 10px 0px;
}