.brief-card {
    margin-top: 10px;
    margin-bottom: 40px;
    /* box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5; */
}
.brief-header {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    margin: 5px 0;
    color: rgba(0,0,0,.85);
}
.brief-header > h2 {
    font-size: 2.4rem;
}

.brief-meta {
    font-size: 14px;
    color: rgba(0,0,0,.4);
}
.brief-description {
    margin-top: 8px;
    color: rgba(0,0,0,.68);
}
.brief-extra {
    text-align: center;
}
.brief-date,
.brief-comments,
.brief-read {
    display: inline-block;
    margin-right: 20px;
    font-size: 14px;
}