.login-container{
    width: 440px;
    margin: 100px auto 0;
}
.login-form {
    padding: 26px 34px 34px;
}
.button-spacing-input {
    margin-top: 20px !important;
}
.button-spacing-btn {
    margin-top: 70px !important;
    & > button {
        background-color: #212121;
    }
}