.default-navbar {
    height: 60px;
    line-height: 60px;
    padding: 0 40px;
    background-color: #1D1D1D;
}
.default-navbar > div > a {
    color: #fff !important;
}
.default-menu {
    width: 200px;
    position: absolute;
    top: 60px;
    bottom: 0px;
    background-color: #1D1D1D;
}
.default-menu > .title {
    display: block;
    padding-left: 20px !important;
    padding-right: 20px !important;
    height: 40px;
    line-height: 26px;
    /* background-color: #606266 !important; */
    color: #fff !important;
}
.default-menu > .content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.default-menu > .title:hover {
    background-color: #909399;
}
.default-menu > .title > a {
    color: #fff !important;
}
.default-menu > .title > i:nth-child(1) {
    margin-right: 20px;
    margin-left: 20px;
}
.default-content {
    margin-left: 200px;
    padding: 20px;
}
.login-out {
    float: right;
}
.login-out > span {
    cursor: pointer;
}
.login-out > span:hover {
    color: #20A0FF;
}
.content > .items > .item > a {
    padding-left: 80px !important;
    color: #fff !important;
    height: 40px;
    line-height: 40px;
}
.content > .items > .item {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    background-color: #16181D;
}
.content > .items > .item:hover {
    background-color: #909399;
}
.dropdown > div,
.dropdown > .icon {
    color: #fff !important;
}