.default-navbar {
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    background-color: rgba(255,255,255,.95);
}
.default-menu {
    width: 200px;
    position: absolute;
    top: 60px;
    bottom: 0px;
}
.default-content {
    margin-left: 200px;
    padding: 20px;
}
.login-out {
    float: right;
}
.login-out > span {
    cursor: pointer;
}
.login-out > span:hover {
    color: #20A0FF;
}