.default {
    & > .default-left {
        height: 100%;
        width: 180px;
        margin-top: 40px;
        background-color: #1D1D1D;
        float: left;
        height: 1px;
    }
    & > .default-right {
        overflow: hidden;
    }
}
.navbar-toggle {
    position: relative;
    padding: 4px 6px;
    margin-top: 6px;
    margin-right: 15px;
    margin-bottom: 8px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    & > .icon-bar {
        background-color: #888;
        display: block;
        width: 22px;
        height: 2px;
        margin-top: 4px;
        border-radius: 1px;
    }
}
.defalut-brand {
    display: inline-block;
    width: 200px;
}
.default-menu {
    position: fixed;
    width: 180px;
    top: 40px;
    bottom: 0px;
    left: 0px;
    background-color: #1D1D1D;
}
.default-menu > .title {
    display: block;
    padding-left: 20px !important;
    padding-right: 20px !important;
    height: 40px;
    line-height: 26px;
    /* background-color: #606266 !important; */
    color: #fff !important;
}
.default-menu > .content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.default-menu > .title:hover {
    background-color: #909399;
}
.default-menu > .title > a {
    color: #fff !important;
}
.default-menu > .title > i:nth-child(1) {
    margin-right: 20px;
    margin-left: 20px;
}
.default-content {
    margin: 70px 0px 20px 30px;
}
.default-navbar {
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    height: 40px;
    line-height: 40px;
    padding: 0 40px;
    background-color: #1D1D1D;
}
.default-navbar > div > a {
    color: #fff !important;
}
.login-out {
    float: right;
}
.login-out > span {
    cursor: pointer;
}
.login-out > span:hover {
    color: #20A0FF;
}
.content > .items > .item > a {
    padding-left: 80px !important;
    color: #fff !important;
    height: 40px;
    line-height: 40px;
}
.content > .items > .item {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    background-color: #16181D;
}
.content > .items > .item:hover {
    background-color: #909399;
}
.dropdown > div,
.dropdown > .icon {
    color: #fff !important;
}


@media (max-width: 768px) { 
    .default {
        & > .default-left {
            width: 40px;
        }
    }
    .default-menu {
        width: 55px;
    }
    .default-menu > .title {
        padding: 7px 0px !important;
        overflow: hidden;
    }
}